@{
    ViewData["Title"] = "Sockpuppet";
}
<h1>Story</h1>

<p>Step into the shoes of the elite shrine maiden Miko Sakura in this
    <i>Choose Your Own Adventure</i> illustrated novel.
    Decide your fate as a priestess, gamer, and comedian.
    Cross paths with five beautiful and terrifying girls.
    Will you end up with a lover, or in an early grave?
</p>